<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looping</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in colors">
                {{index}}{{item}}
            </li>
        </ul>

        <p>Students</p>
        <ul>
            <li v-for="item in students">
                {{item.name}}-{{item.age}}-{{item.gender}}
            </li>
        </ul>

        {{girls}}

        <p>Students with table</p>
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in students">
                    <td>{{++index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.gender}}</td>
                    <td>
                        <button @click="detail(--index)">detail</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    colors: ['red','green','blue'],
                    students: [
                        {name: 'susu', age: 16, gender: 'female'},
                        {name: 'koko', age: 20, gender: 'male'},
                        {name: 'ngal', age: 13, gender: 'female'},
                    ]
                }
            },
            methods:{
                detail(index){
                    let row = this.students[index]
                    alert(`${row.name} - ${row.age} - ${row.gender}`)-
                }
            },
            computed:{
                girls(){
                    return this.students.filter(row => row.gender == "female")
                }
            }
        }).mount('#app')
    </script>
</body>

</html>
